<!DOCTYPE html>
<html lang="en">
    <head>
        <title> ESG Portfolio Toolkit </title>  
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">            
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">
  </head>

    <body>
      <div class="m-4">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a href="#" class="navbar-brand">ESG Portfolio Toolkit</a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="/portfolio/main" class="nav-item nav-link active">View Portfolio</a>
                        <a href="/model" class="nav-item nav-link">Run Model</a>
                        <a href="/projection/main" class="nav-item nav-link">View Projection</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
        {% block content %}
        <div class="container">
            <div class="modal-body row">
              
    <div class="col-md-6"> 
      <h4>Increase in temperature by 1 degrees projection for the portfolio</h4>              
            <table id="data1" class="table table-striped">               
                <thead>
                    <tr>
                      <th>Ticker</th>
                      <th>Company</th>
                      <th>Country</th>
                      <th>Invested Value</th>
                      <th>Forecasted Value</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for tick in projection_data %}
                      <tr>
                        <td>{{ tick.Ticker }}</td>
                        <td>{{ tick.Company }}</td>
                        <td>{{ tick.Country }}</td>
                        <td>{{ tick.Invested_Value }}</td>
                        <td>{{ tick._2050_Value }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>       
    </div>
    <div class="col-md-6">
        <h4>Projection Plot</h4>
  <img src="data:image/png;base64, {{ plot_url }}" width="700" height="600">
      </div>
     
  </div>
  {% endblock %}    
        <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
        {% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data1').DataTable();
      $('#data2').DataTable();
    });
  </script>
{% endblock %}
       
    </body>
</html>